<div id="movie_<%= movie.id %>">
  <h3>
    <strong><%= movie.title %></strong>
  </h3>
  <p>Posted by <%= link_to movie.user.email, movies_path(user_id: movie.user.id) %> <%= custom_time_ago_in_words(movie.created_at) %></p>
  <p><%= movie.description %></p>

  <p style="float:right">
    <% if user_signed_in? %>
      <% belongs_to_user = (current_user.email ==  movie.user.email) %>
      <% if !belongs_to_user %>
        <% if !movie.has_been_voted? %>
          <p style="float:left">Be the first to vote for the movie:</p>
          <p style="float: right">
              <%= render partial: "reactions/reaction", locals: { movie: movie }%>
          </p>
        <% else %>
          <% if movie.has_been_liked_by_user?(current_user.id) %>
            <p style="float:left">
              <strong><%= movie.likes_count %> likes | <%= link_to "#{movie.hates_count} hates", reverse_reaction_movie_path(movie), method: :patch, remote: true %> </strong>
            </p>
            <p style="float: right"> You like this movie &nbsp; | &nbsp; <%= link_to "Unlike", undo_reaction_movie_path(movie), method: :delete, remote: true %> &nbsp; </p>
          <% elsif movie.has_been_hated_by_user?(current_user.id) %>
            <p style="float:left">
              <strong><%= link_to "#{movie.likes_count} likes", reverse_reaction_movie_path(movie), method: :patch, remote: true %> | <%= movie.hates_count %> hates </strong>
            </p>
            <p style="float: right"> You hate this movie &nbsp; | &nbsp; <%= link_to "Unhate", undo_reaction_movie_path(movie), method: :delete, remote: true %> &nbsp; </p>
          <% else %>
            <p style="float:left">
              <strong><%= movie.likes_count %> likes | <%= movie.hates_count %> hates </strong>
            </p>
            <p style="float: right">
              <%= render partial: "reactions/reaction", locals: { movie: movie }%>
            </p>
          <% end %>
        <% end %>
      <% else %>
         <% if movie.has_been_voted? %>
            <p style="float:left">
              <strong><span class="movie-likes-count"><%= movie.likes_count %></span> likes | <%= movie.hates_count %> hates </strong>
            </p>
          <% end %>  
      <% end%>
    <% else %>
      <% if movie.has_been_voted? %>
        <p style="float:left">
          <strong><%= movie.likes_count %> likes | <%= movie.hates_count %> hates </strong>
        </p>
      <% end %>
    <% end %>
  </p>
</div>
