<div id="<%= dom_id movie %>">
  <h3>
    <strong><%= movie.title %></strong>
  </h3>

  <p>Posted by <%=movie.user.email%> <%= custom_time_ago_in_words(movie.created_at) %></p>
  <p><%= movie.description %></p>

  <p style="float:right">
    <% if user_signed_in? %>
      <% if movie.has_been_voted? %>
        <p style="float:left">
          <strong><%= movie.likes %> likes | <%= movie.hates %> hates </strong>
        </p>
      <% else %>
        <p style="float:left">Be the first to vote for the movie: Like | Hate</p>
      <% end %>
    <% else %>
      <% if movie.has_been_voted? %>
        <p style="float:left">
          <strong><%= movie.likes %> likes | <%= movie.hates %> hates </strong>
        </p>
      <% end %>
    <% end %>
  </p>
</div>
