<div id="<%= dom_id movie %>">
  <p>
    <strong>Title:</strong>
    <%= movie.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= movie.description %>
  </p>

  <p>
    <strong>Upload date:</strong>
    <%= movie.upload_date %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= movie.likes %>
  </p>

  <p>
    <strong>Hates:</strong>
    <%= movie.hates %>
  </p>

</div>
