<div id="<%= dom_id movie %>">
  <h3>
    <strong><%= movie.title %></strong>
  </h3>

  <p>Posted by <%=movie.user.email%> <%= custom_time_ago_in_words(movie.created_at) %></p>
  <p><%= movie.description %></p>

  <p style="float:left">
    <strong><%= movie.likes %> likes | <%= movie.hates %> hates </strong>
  </p>
  <!--p style="float: left"><%= link_to "Show this movie", movie %></p-->
</div>
