<div id="movieRamaContainer" class="container-lg">
  <div class="row" style="display: block ruby">
    <h2>MovieRama</h2>
    <div class="row" style="float: right; margin-right: 1%; display: inherit; margin-top: 1%">
    <% if user_signed_in? %> 
       Welcome <%= current_user.email %> &nbsp; <%= button_to "Sign out", destroy_user_session_path, class: 'styledBtn', method: :delete %>
    <% else %>
      <%= link_to "Log in", new_user_session_path %> &nbsp;or&nbsp;
      <%= button_to "Sign up", new_user_registration_path({}), class: "styledBtn", method: :get %><br />
    <% end %>
    </div>
  </div>

  <div id="filterBar" class="row">
     &nbsp; Sort by: &nbsp; <%= link_to "Likes", movies_path(sort_by: :likes_desc), title: "Sorts movies on descending 'Likes' order"%> &nbsp; | &nbsp; <%= link_to "Hates", movies_path(sort_by: :hates_desc)%> &nbsp; | &nbsp; <%= link_to "Date", movies_path(sort_by: :date_desc)%>
  </div>
  
  <div class="row">
    <%= button_to "Display all movies", movies_path, method: :get, class: 'styledBtn' %>
    <% if user_signed_in? %>
      <%= button_to "New movie", new_movie_path, class: "newMovieBtn", method: :get %>
    <% end %>
  </div>

  <div id="movies" class="row" style="margin-top: 2%; float: left">
    <div style="width: 100%; margin: auto;">
      <% @movies.each do |movie| %>
        <div class="card", style="margin-bottom: 10px;">
          <div class="card-body">
            <%= render movie %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
