<div class="container-lg">
  <div class="row">
  <h2>MovieRama</h2>

  <% if user_signed_in? %> 
  <div> Welcome <%= current_user.email %> </div> 
    <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
  <% else %>
    <%= button_to "Sign in", new_user_session_path %> or
    <%= button_to "Sign up", new_user_registration_path({}), method: :get %><br />
  <% end %>
  </div>
  </div>
</div>

<div id="movies">
  <% @movies.each do |movie| %>
    <div class="card", style="width: 30%; margin: auto;">
      <div class="card-body">
        <%= render movie %>
          <p>
            <%= link_to "Show this movie", movie %>
          </p>
      </div>
    </div>
  <% end %>
</div>

<% if user_signed_in? %>
  <%= link_to "New movie", new_movie_path %>
<% end %>